/** @format */

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 2000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  transform: rotateY(180deg);
}
.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 10px;
}
.flip-card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
#game-grid {
  display: grid;
  gap: 12px;
  width: 90%;
  max-width: 600px;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}
