/** @format */

body {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #dff1ff, #f7faff);
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #444;
  letter-spacing: 1px;
}

.button {
  background-color: black;
  border-radius: 5px;
  color: #dff1ff;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5vh;
  padding: 5px;
  margin: 5px;
}

body {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  background: linear-gradient(90deg, #ffce1b, #e35336);
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

.title {
  font-size: 8rem;
  margin: 0 0 2vh 0;
  color: #444;
  letter-spacing: 1px;
  text-align: center;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 2000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  color: black;
}

.flip-card-front {
  transform: rotateY(180deg);
}

.flip-card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  width: 90vw;
  max-width: 800px;
  aspect-ratio: 1;
  margin: 0 auto;
  background-color: #35654d;
  padding: 15px;
  border-radius: 20px;
}

@media (max-width: 480px) {
  .game-grid {
    width: 95vw;
    gap: 8px;
    padding: 10px;
  }

  .flip-card {
    width: 100%;
    height: 100%;
  }
}

.label {
  color: #fdc91d;
  font-size: 1.5rem;
}

#timer,
#moves,
#matches {
  font-size: 2.5rem;
  font-weight: bold;
  color: #d3d3d3;
}

#game-stats {
  display: flex;
  justify-content: space-between;
  align-items: top;
  background-image: url("images/table.jpg");
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 12px 18px;
  backdrop-filter: blur(6px);
  border-radius: 12px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #333;
}

.stat {
  display: flex;
  align-items: center;
  flex-direction: column;
}
